

body{

    font-family: 'Montserrat', sans-serif;
    text-align: center;
   
}

#title{

    background-color: #fff;
    color: black;
    text-align: center;
}


h1, h2, h3, h4, h5, h6{

    font-family: 'Montserrat-black-900', sans-serif;
    font-weight: bold;
    text-align: center;
}

p{

    font-size: 12px;

}

.logo{

    width: 5%;

}

.main{

    margin-top: 100px;
    font-size: 12px;
    
    
}
   



.table-bg{

    background-color: black;
    color: #fff;
    
}

.top{


    margin-bottom: 80px;
    width: 100%;
    margin: auto;
}


.banner{

    width: 100%;
}


/* Download buttons */

.download-button{

    margin: 5% 3% 5% 0;

}




/* Car css */

.car{
    
    text-align: right;
    width: 60%;
    float: right;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 10px;
    margin-right: 20%;
   
}



/* Information Section */

.fa-solid{

    color: rgb(235, 138, 53);


}

.question-bg{


    background-color: rgb(189, 185, 185);
}
        


    .footer{

        color: black;
        
    }

   